@for (item of bookList; track $index) {
<div style="background-color: aqua; width: 500px; margin-bottom: 20px;">
  <h4>Title :- <b>{{item.name}}</b></h4>
  <p>Description :- {{item.description}}</p>
  <h4>Price :- ${{item.price}}</h4>
  <p>Stock :- {{item.stock}}</p>
  <div style="display: flex; align-items: center;margin-bottom: 10px;">
    <button style="margin-right: 15px;cursor: pointer;" (click)="decrement(item.id)">-</button>
    <p style="margin: 0;"> <b>{{item.qty}}</b></p>
    <button style="margin-left: 15px;cursor: pointer;" (click)="increment(item.id)">+</button>
  </div>
  <button (click)="purchaseBook(item)" style="cursor: pointer;" >Purchase This Book</button>
</div>
}
